<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Connect</title>
</head>
<body>
    {{ ssh.ip }}
    <form action="/{{ ssh_id }}/" method="post">
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="Execute">
    </form>
    <p>{{ result }}</p>
    {% if error is not None %}
        <p>Error:</p>
        <p>---------------------------------</p>
        <pre>{{ error }}</pre>
        <p>---------------------------------</p>
    {% endif %}
    {% if output is not None %}
        <p>---------------------------------</p>
        <pre>{{ output }}</pre>
        <p>---------------------------------</p>
    {% endif %}
<!-- more options to display text with newlines
    {{result|linebreaks}}
    {{result|linebreaksbr}}
-->
</body>
</html>